@charset "UTF-8";/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */


html {
  width: 100%;
  height: 100%;
  margin: 0 0 0 0;
  padding: 0 0 0 0; }

body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: black;
  margin: 0 0 0 0;
  padding: 0 0 0 0; }

nav {
  z-index: 500;
  transition: background-color 0.5s ease; }

.second {
  background: #211f21;
  z-index: 400; }

.third {
  background: #fcf8ff;
  z-index: 300; }

section#yieldContent {
  width: 94%;
  height: 88%;
  background: #211f21;
  position: relative;
  top: 6%;
  left: 3%;
  z-index: 700;
  padding: 0 0 0 0;
  margin: 0 0 0 0; }

div.imageContainer {
  width: 33.3%;
  height: 100%;
  background: #211f21;
  float: left;
  position: relative;
  padding: 0 0 0 0;
  margin: 0 0 0 0; }

header {
  position: absolute;
  top: -0.5%;
  left: 34.39%;
  width: 32.52%;
  height: 16.5%;
  min-height: 74px; }

.under {
  position: absolute;
  top: -2%;
  left: 34.39%;
  width: 32.52%;
  height: 16.5%;
  min-height: 74px; }

div#hoverLayer:hover ~ .jeden {
  left: 100%;
  transition: left 0.7s cubic-bezier(0.17, 0, 0, 0.92) 0s; }

div#hoverLayer:hover ~ .dwa {
  top: 100%;
  transition: top 0.7s cubic-bezier(0.17, 0, 0, 0.92) 0.5s; }

div#hoverLayer:hover ~ .trzy {
  left: -100%;
  transition: left 0.7s cubic-bezier(0.17, 0, 0, 0.92) 0s; }

div#hoverLayer:hover ~ .cztery {
  top: -100%;
  transition: top 0.7s cubic-bezier(0.17, 0, 0, 0.92) 0.5s; }

div#hoverLayer:hover ~ .piec {
  -webkit-transform: matrix(1, 0, 0, 1, 0, -200);
  transition: transform 1s cubic-bezier(0.76, 0.02, 0.99, 0.98);
  transition-delay: 0.1s; }

article:nth-of-type(1), article:nth-of-type(3) {
  background: red; }

footer {
  z-index: 500; }

.bottom {
  position: absolute;
  width: 100%;
  height: 6%;
  left: 0;
  bottom: 0;
  min-height: 42px; }

.upper {
  position: absolute;
  width: 100%;
  height: 6%;
  top: 0;
  left: 0;
  min-height: 42px; }

.right {
  position: absolute;
  width: 3%;
  height: 100%;
  top: 0;
  right: 0;
  min-width: 42px; }

.left {
  position: absolute;
  width: 3%;
  height: 100%;
  left: 0;
  top: 0;
  min-width: 42px; }

div#hoverLayer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 600; }

.jeden {
  transition: left 0.4s cubic-bezier(0.76, 0.2, 0.99, 0.98);
  transition-delay: 0.5s; }

.dwa {
  transition: top 0.4s cubic-bezier(0.76, 0.2, 0.99, 0.98);
  transition-delay: 0s; }

.trzy {
  transition: left 0.4s cubic-bezier(0.76, 0.2, 0.99, 0.98);
  transition-delay: 0.5s; }

.cztery {
  transition: top 0.4s cubic-bezier(0.76, 0.2, 0.99, 0.98);
  transition-delay: 0s; }

.piec {
  transition: transform 1s cubic-bezier(0.76, 0.2, 0.99, 0.98);
  z-index: 801;
  background: url("logo.png") no-repeat;
  background-size: contain;
  transition-delay: 0.75s; }

.under {
  z-index: 800;
  background: url("logoBlack.png") no-repeat;
  background-size: contain; }

/* wnętrze oparte na Ajax*/
