<section id="yieldContent"> 
<div class="imageContainer" id="leftContainer"> 
<span class="imageWraper">
<span class="immageInner"></span>
</span>
</div>
<!--kazdy z kontenerów ma własne id, span jest pojemnikiem na zdjecie które stanie się background-image(...png) -->
<div class="imageContainer" id="middleContainer"> 
<span class="imageWraper">
<span class="immageInner"></span>
</span>
</div>

<div class="imageContainer" id="rightContainer"> 
<span class="imageWraper">
<span class="immageInner"></span>
</span>
</div>
</section>
